doctype html
mixin item(title, url)
  li
    a(href=url class=path==url ? 'active' : '')=title
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      ul 
        +item('Strona główna', '/')
        +item('Aktualności', '/news')
        +item('Quiz', '/quiz')
        +item('Admin', '/admin')

      //- spoob nizej jest dluzszy i tak sie nie robi.Mozna tez skorzystac z mixin
        //- li  
        //-   a(href="/") Strona główna
        //- li  
        //-   a(href="/news") Aktualności
        //- li  
        //-   a(href="/quiz") Quiz
        //- li  
        //-   a(href="/admin") Admin
      
    block content
